<!-- TODO: Add ng specific directives/validation settings and add styling -->
<form (ngSubmit)="doLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>User name:</mat-label>
      <input matInput pattern=".{3,}" placeholder="User" type="text" name="login" required [(ngModel)]="login"
             #loginField="ngModel">
      <div [hidden]="loginField.valid|| loginField.pristine">Please specify your login, at least three characters.</div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password:</mat-label>
      <input matInput pattern=".{3,}" placeholder="Password" type="password" name="password" required
             [(ngModel)]="password" #passwordField="ngModel">
      <div
        [hidden]="passwordField.valid|| passwordField.pristine">Please specify your login, at least three characters.</div>
    </mat-form-field>
  <button mat-raised-button
          type="submit"
          class="login-button"
          [disabled]="!loginForm.form.valid">Login</button>
</form>
