<!-- TODO: Add ng specific directives/validation settings and add styling -->
<form (ngSubmit)="doRegister(registerForm)" #registerForm="ngForm">
  <mat-form-field appearance="fill">
    <mat-label>First name:</mat-label>
    <input matInput pattern=".{2,}" placeholder="First name" type="text" name="firstname" [(ngModel)]="firstname"
           required
           #firstnameField="ngModel">
    <div [hidden]="firstnameField.valid|| firstnameField.pristine">Please specify your first name.</div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last name:</mat-label>
      <input matInput pattern=".{2,}" placeholder="Last name" type="text" name="lastname" [(ngModel)]="lastname"
             required
             #lastnameField="ngModel">
    <div [hidden]="lastnameField.valid|| lastnameField.pristine">Please specify your last name.</div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>User name:</mat-label>
      <input matInput pattern=".{3,}" placeholder="User" type="text" name="login" [(ngModel)]="login"
             #loginField="ngModel"
             required>
      <div [hidden]="loginField.valid|| loginField.pristine">Please specify your login, at least three characters.</div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password:</mat-label>
      <input matInput pattern=".{3,}" placeholder="Password" type="password" name="password" [(ngModel)]="password"
             required
             #passwordField="ngModel">
      <div [hidden]="passwordField.valid|| passwordField.pristine">Please specify your password, at least three characters.</div>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm Password:</mat-label>
      <input matInput pattern=".{3,}" placeholder="Password" type="password" name="passwordConfirm"
             [(ngModel)]="passwordConfirm"
             required
             #passwordConfirmField="ngModel">
      <div [hidden]="passwordConfirmField.valid || passwordConfirmField.pristine">Please confirm your password, at least three characters.</div>
      <div [hidden]="passwordConfirmField.pristine || passwordConfirm == password">Passwords are not matching</div>
  </mat-form-field>

  <button mat-raised-button [disabled]="!registerForm.valid || passwordConfirm != password" class="register-button">Register</button>
</form>
