<div [hidden]="!transactionSucceeded">
  <div class="transaction-response">
    <div>Transaction to {{transactionAnswer?.target}} succeeded!</div>
    <div>New balance {{transactionAnswer?.total}} CHF</div>
    <div>
      <button mat-raised-button color="primary" type="button"
              (click)="resetTransactionView()">Zurück zum Formular</button>
    </div>
  </div>
</div>
<div [hidden]="transactionSucceeded">
  <form (ngSubmit)="onSubmit(transactionForm)" #transactionForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <input matInput readonly [value]="myAccountInfo?.accountNr + ' (' + myAccountInfo?.amount + ' CHF)'" name="from"
             ngModel>
    </mat-form-field>

    <span *ngIf="accountInfo">
        {{ accountInfo?.owner?.firstname }} {{ accountInfo?.owner?.lastname }}
      </span>
      <div *ngIf="target.errors?.minlength">
        Zu wenige Nummern
      </div>
      <div *ngIf="target.errors?.maxlength">
        Zu viele Nummern
      </div>
      <div [hidden]="target.pristine || target.errors?.minlength || target.errors?.maxlength || accountInfo">
        Ungültige Nummer
      </div>
    <mat-form-field appearance="fill">
      <mat-label>Target</mat-label>
      <input matInput (input)="getAccountInfo($event)" name="target" ngModel minlength="7" maxlength="7"
             #target="ngModel" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput type="number" min="0.05" name="amount" ngModel required (input)="checkValue($event)">
      <span matSuffix>CHF</span>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit"
            [disabled]="!transactionForm.form.valid || !accountInfo?.accountNr || !valueValid">Abschicken
    </button>
  </form>
</div>

